body {
    background-color: #FFBEA7;
    }

h1 {
    color: #FFFFFF;
    font-family: 'Knewave', cursive;
    text-align: center;
    font-size: 70px;
    position: relative;
    }

#scoreboard {
    font-family: 'VT323', monospace;
    display: block;
    text-align: center;
    position: relative;
    top: -50px;
    }

#roundscore{
        color: #FFFFFF;
        font-size: 50px;
    }

#totalscore {
    color: #FFFFFF;
    font-size: 75px;
    }

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    }

#container {
    text-align: center;
    position: relative;
    }   

#rock {
    position: relative;
    }

#paper {
    position: relative;
    } 

#scissors {
    position: relative;
    }
